//import mixen
@use '../helpers/mixen' as *;
// start of normalize
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
:root{
    --main-color: rgb(255, 198, 55) ;
    --text-color:rgb(230, 230, 230) ;
    --border-color: rgb(94, 94, 94);
}
// end of normalize
.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 30px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    text-align: center;
    padding-top: 5px;
    i{
        color: #fff
    }
}
// start of title 

.title{
    display: grid;
    grid-template-columns: repeat(3,25%);
    column-gap: 15%;
    text-align: center;
    padding-top: 3%;
    margin-left: 3px;
    background-color: #000;
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    ul{
        @include list-title ;
        
        li{
            a{
                i{
                    font-size: 20px;
                    color: #fff;
                    transition-duration: 1s;
                    &:hover{
                        color: var(--main-color);
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }
    img{
        cursor: pointer;
    }
    .phone-num{
        background:none;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        width: 250px;
        height: 50px;
        padding-top: 10px;
        font-weight: bold;
        transition-duration: 1.5s;
        letter-spacing: 2px;
        &:hover{
            background-color: var(--main-color);
            color: #fff;
        }
    }
}
///responsive
@media (max-width:1200px) {
    .title{
        margin-left: 3%;
        display: grid;
        grid-template-columns: repeat(2,50%);
        .phone-num{
            visibility: hidden;
        }
    }
}
@media (max-width:630px) {
    .title{
        display: grid;
        grid-template-columns: repeat(2,42%);
        ul{
            width: 215px;
        }
        .phone-num{
            visibility: hidden;
        }
    }
    img{
        width: 135px;
        height: 50px;
    }
}
// end of title 

// start of navpar
.nav-icon{
    padding-bottom: 5%;
    z-index: 50000;
    margin-bottom: 10%;
    .checkbtn{
        @include checkbtn;
        
    }
    #check{
        display: none;
    }
    ul{
        @include nav-ul;
        display: flex;    
        background-color: black;
        width: 100%;
        height: 60px;
        position: fixed;
        top:100px;
        
        li{
            padding: {
                left:17px;
                top: 15px;
            }
            &:hover >ul{
                display: block;
            }
        span{
            display: none;
        } 
            a{
                color: #fff;
                font-size: 17px;
                transition: 1s;
                &:hover{
                    color: var(--main-color);
                }
            }  
        }
        .active{
            color: var(--main-color);
            }
        ul{
            @include zoomnav-list;
            li{
                a{
                    color: #fff;
                    @include zoomout-list;
                    &:hover{
                    color: var(--main-color);
                    }
                }
            }
        }    
        }
     } 
@keyframes zoomup {
    0%{
        transform: translatey(80px);
    }
    100%{
        transform:translatey(0px);
    }
}
// responsive
@media (max-width:970px) {
    .navpar{
        .nav-icon{ 
        ul{ 
            li{       
                a{
                font-size: 15px; 
                }  
            }    
            
            }
        }
    }
}
@media (max-width:870px) {
    .nav-icon{ 
        width: 100%;
            height:70px;
            background-color: rgb(51, 51, 51);
            position: fixed;
            top: 100px;
            .checkbtn{
                display: block;
            }
            ul{
                position: fixed;
                width: 100%;
                height: 30vh;
                background-color: rgb(51, 51, 51);
                top: 150px;
                left:-100%;
                transition-duration: 1.5s;
                display: block;
                li{
                    display: block;
                    line-height: 20px;
                    padding-right: 15%;
                    span{
                        display: inline-block;
                    }
                    a{
                        font-size: 12px;
                    }
                    ul{
                        @include zoomnav-list;
                        margin-left: 110%;
                        background-color: rgb(150, 150, 150);
                        border-radius: 0;
                        top: 60%;
                        li{
                            a{
                                color: #fff !important;
                                font-size: 11px;
                                @include zoomout-list;
                                &:hover{
                                color: var(--main-color);
                                }
                            }
                        }
                    }     
                }
            }
            #check:checked ~ ul{
                left: 0%;
                transition-duration: 1.6s;
            }
            a{
                color: #fff;
                }
            }
            @keyframes zoomup {
                0%{
                    transform: translatex(-170px);
                }
                100%{
                    transform:translatex(0px);
                }
            } 
        }    
// end of navpar

// start of hero
.hero{
    background-image: url(../img/11.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 4%;
    .text-hero{
        padding-top: 17%;
        padding-left: 5%;
        p{
            color: #fff;
            font-size: 60px;
            line-height: 70px;
        }
      
        }
}
// responsive
@media (max-width:870px) {
    .hero{
    .text-hero{
        padding-top: 35%;
        padding-left: 5%;
        p{
            font-size: 45px;
        }

}
}
}
@media (max-width:500px) {
    .hero{
    .text-hero{
        padding-top: 45%;
        padding-left: 5%;
        p{
            color: #fff;
            font-size: 40px;
            line-height: 60px;
        }
        button{
            margin-top: 10%;
            width: 150px;
            height: 40px;
        }
    }
}    
}    
// end of hero


// start of header
h2{
    margin-top: 7% !important;
    font-size: 40px;
    line-height: 50px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 5% !important;
}
.line1{
    width: 120px;
    height: 3px;
    text-align: center;
   background-color: var(--main-color);
   margin-left: 43%;
   margin-bottom: 5%;
}
.header{
    display: grid;
    grid-template-columns: repeat(2,45%);
    justify-content: center;
    margin-left: 7%;
    margin-bottom: 15%;
    .caption{
        font-size: 17.5px;
        line-height: 25px;
        h3{
            color: var(--main-color);
        margin-bottom: 5%;
    }
    p{
        color: var(--text-color);
        margin-bottom: 5%;
    }
}
}
// responsiv
@media (max-width:1120px) {
    .header{
        display: grid;
        grid-template-columns: repeat(2)!important;
        margin-bottom: 5%;
        column-gap: 2%;
        .caption{
            font-size: 14.5px;
            line-height: 25px;
            width: 100% !important;
    }
    .img-head{
        img{
        width: 90% !important;
    }
}
}
}
@media (max-width:912px) {
    h2{
        margin-top: 10% !important;
        margin-bottom: 5% !important;
    }
    .header{
        grid-template-columns: repeat(1,90%)!important;
        margin-top: 10% !important;
        .caption{
            p{
                font-size: 23px;
                line-height: 32px;
            }
        }
    }
}
@media (max-width:820px) {
    h2{
        margin-top: 10% !important;
        margin-bottom: 5% !important;
    }
    .header{
        grid-template-columns: repeat(1,90%)!important;
        margin-top: 10% !important;
        .caption{
            p{
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
}
@media (max-width:670px) {
    h2{
        font-size: 20px;
    }
}
@media (max-width:540px) {
    h2{
        margin-top: 10% !important;
        margin-bottom: 5% !important;
    }
    .header{
        grid-template-columns: repeat(1,90%)!important;
        margin-top: 10% !important;
        .caption{
            p{
                font-size: 15px;
                line-height: 19px;
            }
        }
    }
}
@media (max-width:635px) {
    .header{
        display: grid;
        grid-template-columns: repeat(1,100%)!important;
        margin-bottom: 5%;
        gap: 5%;
        height: 100vh;
        .caption{
            font-size: 13px;
             p{
                font-size: 15px;
                line-height: 19px;
            }
        }
        .img-head{
            img{
            height: 35vh;
            }
        }
    }
}
@media (max-width:580px) {
    .header{
        .caption{
            font-size: 13px;
        }
    }
}
@media(min-width:431px) and (max-width:530px) {
    .header{
        .caption{
            p{
                font-size: 12px;
                line-height: 19px;
        }
        }
    }
}
@media(min-width:312px) and (max-width:430px) {
    .header{
        .caption{
            p{
                font-size: 9px;
                line-height: 19px;
        }
        }
    }
}

// end of header


// start of youtube
.youtube{
    width: 90%;
    height: 700px;
    margin: auto;
    background-image: url(../img/usaha\ takoyaki.jpg);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 800px;
    padding-top: 20%;
        .tube1{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: rgb(255, 207, 86);
            margin: auto;
            transition-duration: 1.2s;
            cursor: pointer;
            text-align: center;
            &:hover{
                background-color: #fff;
            }
            a{
                i{
                    padding-top: 25%;
                    font-size: 50px;
                    color: rgb(92, 78, 31);
                }
            }
        }
    }
    
    // responsive
    @media(min-width:767px) and (max-width:1280px){
        .youtube{
            width: 70%;
            height: 600px !important;
        .tube1{
            width: 100px;
            height: 100px;
            a{
                i{
                    font-size: 40px;
                }
            }
        }
    }
}
@media (max-width:800px) {
    .youtube{
            width: 80% !important;
            height: 400px !important;
        .tube1{
            width: 100px;
            height: 100px;
            a{
                i{
                    font-size: 40px;
                }
            }
        }
    }
    
}    
@media (max-width:700px) {
    .youtube{
            width: 80% !important;
            height: 300px !important;
        .tube1{
            width: 80px;
            height: 80px;
            a{
                i{
                    font-size: 35px;
                }
            }
        }
    }
}    
// end of youtube

// start of review
.relation{
    display: grid;
    grid-template-columns: repeat(3,300px);
    column-gap: 2%;
    justify-content: center;
    margin-bottom: 7%;
    .rell{
        color: var(--text-color);
        height: 350px;
        width:350px;
        border-top:.5px solid var(--border-color) ;
        border-bottom:.5px solid var(--border-color) ;
        border-right:.5px solid var(--border-color) ;
        padding-left: 15%;
        .rell-i{
            color: var(--main-color);
            margin-bottom: 10%;
            margin-top: 10%;
            i{
                margin-left: 2%;
                font-size: 17px;
            }
        }
        p{
            font-size: 25px;
            line-height: 37px;
        }
        .rell-client{
            display: flex;
            column-gap: 5%;
            margin-top: 15%;
        }
    }    
}
// responsive
@media (max-width:1280px){
    .relation{
        grid-template-columns: repeat(3,250px);
        column-gap: 5%;
        .rell{
            height: 280px ;
            width:300px ;
            padding-left: 16%;
            .rell-i{
                margin-bottom: 10%;
                margin-top: 10%;
                i{
                    margin-left: 2%;
                    font-size: 16px;
                }
            }
            p{
                font-size: 20px !important;
                line-height: 25px;
            }
            .rell-client{
                display: flex;
                column-gap: 5%;
                margin-top: 10%;
            }
        }    
    }
}
@media (max-width:1024px) {
    .relation{
    grid-template-columns: repeat(2,300px);
    row-gap: 15%;
    height: 600px;
    }
}
@media (max-width:768px) {
    .relation{
        grid-template-columns: repeat(2,350px);
        row-gap: 5%;
        margin-bottom: 5%;
    }
    
}
@media (max-width:650px) {
    .relation{
        grid-template-columns: repeat(1,350px);
        row-gap: 10%;
        margin-bottom: 5%;
        .rell{
            height: 270px ;
            width:350px ;
            padding-left: 10%;
            .rell-i{
                margin-bottom: 10%;
                margin-top: 10%;
                i{
                    margin-left: 2%;
                    font-size: 16px;
                }
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }
            p{
                font-size: 26px !important;
                line-height: 27px;
            }
            .rell-client{
                display: flex;
                column-gap: 5%;
                margin-top: 10%;
            }
        }    
    }
    
}
@media (max-width:540px) {
    .relation{
        grid-template-columns: repeat(1,300px);
        row-gap: 10%;
        margin-bottom: 5%;
        height: 110vh;
        .rell{
            height: 270px ;
            width:300px ;
            padding-left: 10%;
            .rell-i{
                margin-bottom: 10%;
                margin-top: 10%;
                i{
                    margin-left: 2%;
                    font-size: 16px;
                }
                img{
                    width: 20px !important;
                    height: 20px !important;
                    border-radius: 50%;
                }
            }
            p{
                font-size: 20px !important;
                line-height: 27px;
            }
            .rell-client{
                display: flex;
                column-gap: 5%;
                margin-top: 10%;
            }
        }    
    }
}
@media(min-width:350px) and (max-width:530px) {
    .relation{
            height: 120vh;
        grid-template-columns: repeat(1,250px);
        row-gap: 10%;
        margin-bottom: 5%;
        .rell{
            height: 270px ;
            width:250px ;
            padding-left: 10%;
            .rell-i{
                margin-bottom: 10%;
                margin-top: 10%;
                i{
                    margin-left: 2%;
                    font-size: 16px;
                }
                img{
                    width: 10px !important;
                    height: 10px !important;
                    border-radius: 50%;
                }
            }
            p{
                font-size: 18px !important;
                line-height: 27px;
            }
            .rell-client{
                display: flex;
                column-gap: 5%;
                margin-top: 10%;
            }
        }    
    }
}
// end of review


// start of about 
.address{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2,300px);
    column-gap: 50%;
    justify-content: center;
    h2{
        font-size: 50px;
        color: var(--text-color);
    }
     button{
        @include button;
        &:hover{
        background:none;
        color: var(--main-color);
        font-weight: bold;
        }
    }
}
.cooking{
    margin-bottom: 7%;
    display: grid;
    grid-template-columns: repeat(2,600px);
    column-gap: 7%;
    .cook{
        display: grid;
        grid-template-columns: repeat(2,300px);

        .cook-img{
            height: 370px;
            width:300px;
            img{
                height: 100%;
                width:100%;
            }
        }
        .cook-text{
        color: var(--text-color);
        height: 370px;
        width:350px;
        border-top:.5px solid var(--border-color) ;
        border-bottom:.5px solid var(--border-color) ;
        border-right:.5px solid var(--border-color) ;
        padding-left: 15%;
        padding-top: 10%;
        h3{
            color: var(--main-color);
            margin-bottom: 5%;
        }
        a{
            color: var(--main-color);
            &:hover{
                letter-spacing: 10px;
                        }
        }
        .spn{
            width: 90px;
            height: 2px;
            background-color: var(--main-color);
            margin-top: 5%;
        }
        }
    }
}
// responsive
@media (max-width:1300px) {
    .address{
        margin-top: 5%;
        margin-bottom: 5%;
        grid-template-columns: repeat(2,300px);
        column-gap: 40%;
        h2{
            font-size: 50px;
            color: var(--text-color);
        }

    }
    .cooking{
        margin-bottom: 7%;
        display: grid;
        grid-template-columns: repeat(1,650px);
        row-gap: 10%;
        justify-content: center;
        .cook{
            display: grid;
            grid-template-columns: repeat(2,300px);
    
            .cook-img{
                height: 400px;
                width:300px;
            }
            .cook-text{
            height: 400px;
            width:350px;
            padding-left: 15%;
            padding-top: 10%;
            h3{
                color: var(--main-color);
            }
            .spn{
                width: 90px;
                height: 2px;
                background-color: var(--main-color);
                margin-top: 5%;
            }
            }
        }
    }
}
@media (max-width:1030px) {
    .address{
        margin-top: 5%;
        margin-bottom: 5%;
        grid-template-columns: repeat(2,250px);
        column-gap: 30%;
        h2{
            font-size: 45px;
            color: var(--text-color);
        }
    }
    .cooking{
        margin-bottom: 7%;
    }
}
@media (max-width:730px) {
    .address{
        margin-top: 15% !important;
        margin-bottom: 5%;
        grid-template-columns: repeat(2,300px);
        column-gap: 35%;
        h2{
            font-size: 35px;
            color: var(--text-color);
        }
        button{
            font-size: 20px;
            padding: 7px 20px;
        }
        
    }
    .cooking{
        height: 270vh !important;
        margin-bottom:12% !important;
        margin-top:12% !important;
        display: grid;
        grid-template-columns: repeat(1,30px);
        row-gap: 10%;
        justify-content: center;
        .cook{
            display: grid;
            grid-template-columns: repeat(1,300px);
            row-gap: 1%;
            justify-content: center;
            .cook-img{
                height: 400px;
                width:350px;
            }
            .cook-text{
            height: 380px;
            width:350px;
            padding-left: 15%;
            padding-top: 10%;
            h3{
                color: var(--main-color);
            }
            .spn{
                width: 90px;
                height: 2px;
                background-color: var(--main-color);
                margin-top: 5%;
            }
            }
        }
    }
}
@media (max-width:685px) {
    .address{
        margin-top: 30% !important;
        grid-template-columns: repeat(1,200px);
        row-gap: 35%;
        justify-content: center;
            h2{
                font-size: 35px;
                color: var(--text-color);
            }
            button{
                font-size: 20px;
                padding: 7px 20px;
            }
        }
    }

    @media(max-width:530px) {
        .address{
            margin-top: 35% !important;
            margin-bottom: 25%;
            grid-template-columns: repeat(1,50%);
            row-gap: 35%;
            justify-content: center;
            h2{
                font-size: 40px;
                color: var(--text-color);
            }
            button{
                font-size: 20px;
                padding: 7px 20px !important;
            }
        }
        .cooking{
            height: 200vh !important;
        }
    
    }
    @media (max-width:460px) {
        .address{
            margin-top: 50% !important;
            margin-bottom: 25%;
            grid-template-columns: repeat(1,90%);
            justify-content: center;
            h2{
                font-size: 40px;
                width:100%;
            }            
            button{
                width:100%;
            }
     }
        .cooking{
            margin-bottom:12% !important;
            display: grid;
            grid-template-columns: repeat(1,100%);
            justify-content: center;
            .cook{
                display: grid;
                grid-template-columns: repeat(1,100%);
                gap: 10%;
                justify-content: center;
                .cook-img{
                    width:100%;
                    height: 360px;
                }
                .cook-text{
                height: 360px;
                width:100%;
                padding-left: 15%;
                padding-top: 10%;
                h3{
                    color: var(--main-color);
                }
                .spn{
                    width: 90px;
                    height: 2px;
                    background-color: var(--main-color);
                    margin-top: 5%;
                }
                }
            }
        }
    }
    @media (max-width:540px) {
        .cooking{
            height: 300vh !important;
        }
    }
    @media (max-width:414px) {
        .cooking{
            height: 200vh !important;
        }
    }
    @media (max-width:375px) {
        .cooking{
            height: 255vh !important;
        }
    }
    @media (max-width:360px) {
        .cooking{
            height: 250vh !important;
        }
    }

@media (max-width:375px) {
    .address{
    margin-bottom: 70%;
}
}
@media (max-width:320px) {
    .address{
        margin-top: 60% !important;
        grid-template-columns: repeat(1,100%);
        justify-content: center;
    }
}    
// end of about 2

// start of  instagram
.instagram{
    h2{
        font-size: 40px;
        line-height: 50px;
        color: rgb(231, 231, 231);
        text-align: center;
        margin-bottom: 5% !important;
    }
    .insta{
        margin-bottom: 5% ;
        display: grid;
        grid-template-columns: repeat(2,30%);
        column-gap: 1%;
        width: 250px;
        height: 50px;
        border: 1px solid var(--main-color);
        justify-content: center;
        color: var(--main-color);
        cursor: pointer;
        margin: auto;
        i{
            padding-top: 15%;
        }
        p{
            padding-top: 5%;
        }
        p,i{
            font-size: 23px;
        }
    }
}
.insta-img{
    display: grid;
    grid-template-columns: repeat(4,10%);
    height: 350px;
    width: 95%;
    justify-content: center;
    column-gap: 14%;
    margin-top: 5%;
    img{
        width: 270px;
        height: 200px;
        cursor: pointer;
    }
}
@media(min-width:768px) and (max-width:1280px){
    .instagram{
        margin-top: 17% !important;
        margin-bottom: 5% !important;
        h2{
            font-size: 40px;
            margin-bottom: 5% !important;
        }
        .insta{
            margin-bottom: 5% ;
            grid-template-columns: repeat(2,20%);
            column-gap: 1%;
    }
}
}    
@media (max-width:1000px) {
    .instagram{
        margin-top: 12% !important;
        margin-bottom: 5% !important;
        h2{
            font-size: 40px;
            margin-bottom: 5% !important;
        }
        .insta{
            margin-bottom: 5% ;
            grid-template-columns: repeat(2,20%);
            column-gap: 1%;
    }
}
}
@media (max-width:950px) {
    .instagram{
        margin-top: 22% !important;
        margin-bottom: 10% !important;
        h2{
            font-size: 40px;
            margin-bottom: 5% !important;
        }
        .insta{
            margin-bottom: 5% ;
            grid-template-columns: repeat(2,20%);
            column-gap: 1%;
    }
}
}
@media (max-width:500px) {
    .instagram{
        h2{
            font-size: 25px;
        }
}
}
@media(max-width:1280px){
    .insta-img{
        margin-bottom: 7%;
        display: grid;
        grid-template-columns: repeat(2,450px) ;
        height: 80vh;
        img{
            width:100%;
        }
    }
}   
@media(max-width:1024px){
    .insta-img{
        margin-bottom: 7%;
        display: grid;
        grid-template-columns: repeat(2,370px);
        row-gap: 12%;
        height: 75vh;
        img{
                width:100%;
            }
        }
    }
@media(max-width:912px){
        .insta-img{
        width: 100%;
        height: 50vh;
        margin-bottom: 7%;
        display: grid;
        grid-template-columns: repeat(2,40%) !important;
        row-gap: 10%;
        text-align: center; 
    }
}
@media(max-width:820px){
        .insta-img{
        width: 100%;
        height: 60vh;
        margin-bottom: 7%;
        display: grid;
        grid-template-columns: repeat(2,40%) !important;
        row-gap: 10%;
        text-align: center; 
    }
}
@media(max-width:768px){
        .insta-img{
        width: 100%;
        height: 70vh;
        margin-bottom: 7%;
        display: grid;
        grid-template-columns: repeat(2,40%) !important;
        row-gap: 10%;
        text-align: center; 
    }
}
@media(min-width:280px) and (max-width:530px) {
    .insta-img{
        grid-template-columns: repeat(1,90%) !important;
        height: 170vh;
        text-align: center; 
    }
}
// end of  instagram


// start sec7
.sec7{
    width: 100%;
    height: 600px;
    background-color:black;
    hr{
        width: 100%;
        margin: auto;
        margin-top: 30px;
      border: .2px solid rgba(255, 255, 255, 0.332);
    }
    .d1{
        padding-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,500px);
        justify-content: space-around;
        
        
        ul{
         margin-top: 20px;
            li{
                display: inline-block;
                
                list-style-type:none;
                a{
                    text-decoration: none;
                    margin-right: 35px;
                    color: #fff;
                   transition-duration: 200ms;
                    position: relative;
                }a::after{
                    content: "";
                    position: absolute;
                    width: 0%;
                    bottom: -5px;
                    right: 5px;
                    left: 0px;
                    height: 1px;
                    z-index: 1;
                    transition: all .4s ease-out 0s;
                    background: #e5bf4a;
    
                }a:hover::after{
                    width: 100%;
                }a:hover{
                    color: #e5bf4a;
                }
            }
        }
    }
    .d2{
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2,450px);
        justify-content: center;
        column-gap: 50px;

        // column-gap: 250px;
        .dd2{

            width: 500px;
            color: #fff;
            margin-left: 50px;
            p{
                width: 500px;
                margin-bottom: 50px;
                line-height: 25px;
            }
           .ddd2{
            a{
                text-decoration: none;
                padding: 13px 25px;
                border: 1px solid #fff;
                color: #fff;
                margin-right: 10px;
                transition-duration: 200ms;
                span{
                    margin-right: 5px;
                }
                
            }a:hover{
                color: #e5bf4a;
            border: 1px solid #e5bf4a;
                
            }
           }
        }
        .dd3{
            display: grid;
            grid-template-columns: repeat(2,200px);
            column-gap: 20px;
            width: 500px;
            .ddd3{
                margin-left: 150px;
                width: 200px;
                color: #fff;
                text-align: center;
            i{
                font-size: 30px;
            }
            
            h6{
                color: #e5bf4a;
                font-size: 30px;
                margin-bottom: 30px;
                margin-top: 15%;
            }
            p{
                width: 200px;
                line-height: 25px;
            }
            }
        }

    }
    .d3{
        text-align: center;
        margin-top: 20px;
        color: #fff;
        height: 100px;
        // margin-bottom: 20%;
        i{
            color: #e5bf4a;
        }
        a{
            text-decoration: none;
            color: #e5bf4a;
        }
    }
}

@media(max-width:580px){
    .d2{
        grid-template-columns: repeat(1,60%);
        margin-left: -50px;
    
            font-size: 8px;
            .dd2{
                p{
                    width: 180px;
                }
                .ddd2{
                    a{
                        display: block;
                        width: 35%;
                    }
                }
    
            }
        }
       }
    
     .d2{
        .dd3{
            display: block;
            width: 300px;
        .ddd3{
           
            p{
                width: 200px;
            }
        }
        }
}
@media(max-width:499px){
   .sec7{
    height: 1050px;
     .d1{
        grid-template-columns: repeat(1,230px);
        justify-content: center;
        text-align: center;

        img{
            width: 150px;
            margin: auto;
        }
        ul{
            width: 100%;
           
            li{
                a{
                    margin-right: 5px;
                    font-size: 10px;
                }
        }

     }
   }

   .d2{
    grid-template-columns: repeat(1,70%);
    justify-content: center;
    font-size: 12px;
    row-gap: 50px;
    .dd2{
        width: 100%;
       p{
        width:100%;
       }
       .ddd2{
        a{
            font-size: 8px;
            padding: 4px 8px;
        }
       }
    }
     }
   }
}
@media(max-width:450px){
    .d2{
    grid-template-columns: repeat(1,60%);
    margin-left: -50px;

        font-size: 8px;
        .dd2{
            p{
                width: 180px;
            }
            .ddd2{
                a{
                    display: block;
                    width: 35%;
                }
            }

        }
    }
   }

 .d2{
    .dd3{
        display: block;
        margin-left: -50px;
        width: 300px;
    .ddd3{
       
        p{
            width: 200px;
        }
    }
    }
 }
 @media(max-width:450px){
    .d2{
        .dd3{
            display: block;
            margin-left: -80px;
            width: 130px;
           
        .ddd3{
            width: 150px;
            p{
                width: 80px;
            }
        }
        }
     }
 }
 @media(min-width:499px) and (max-width:767px){
    .sec7{
        height: 1000px;
        .d1{
            padding-top: 50px;
            grid-template-columns: repeat(1,500px);
            justify-content: center;
            text-align: center;
            img{
                width: 150px;
                margin: auto;
            }
            ul{
                width: 500px;
                li{
                    a{
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    .d2{
    grid-template-columns: repeat(1,55%);
    row-gap: 40px;
    justify-content: center;
    font-size: 15px;
    .dd2{
        width: 100%;
        text-align: center;
        .ddd2{
            margin-left: -40px;
        }
        p{
            font-size: 14px;
            width: 70%;
        }
        a{
            font-size: 6px;
            padding: 6px 10px;
        }
        
    }
    .dd3{
        grid-template-columns: repeat(1,150px);
        width: 200px;
        margin-left: -80px;
        .ddd3{
            width: 100%;
            height: 200px;
            font-size: 15px;
            p{
                width: 80%;
                }
            }
        }
      } 
   } 
 }
 @media (max-width:530px){
     .sec7{
         height: 800px;
      .d2{
        grid-template-columns: repeat(1,75%);
        row-gap: 40px;
        font-size: 15px;
        .dd2{
            width: 100%;        
        }
        .dd3{
            grid-template-columns: repeat(1,280px);
            width: 200px;
            row-gap: 30%;
            margin-left: -80px;
            .ddd3{
                width: 90%;
                font-size: 15px;
                p{
                    width: 80%;
                }
            }
    
        }
    
          }
    }

 }
 @media(min-width:767px) and (max-width:1200px){
     .sec7{
         height: 800px;
        .d1{
            padding-top: 50px;
           grid-template-columns: repeat(2,400px);
           justify-content: center;
           text-align: center;
           img{
               width: 150px;
               margin: auto;
           }
           ul{
               width: 350px;
              
               li{
                   a{
                       margin-right: 5px;
                       font-size: 14px;
                   }
           }
   
        }
      }

      .d2{
        grid-template-columns: repeat(1,75%);
        row-gap: 40px;
        font-size: 15px;
        .dd2{
            width: 100%;
            
            
            p{
                font-size: 14px;
                width: 70%;
    
            }
            a{
                font-size: 6px;
                padding: 6px 10px;
    
            }
            
        }
        .dd3{
            grid-template-columns: repeat(2,250px);
            column-gap: 10%;
            justify-content: center;
            .ddd3{
                margin-top: 15%;
                width: 90%;
                font-size: 15px;
                p{
                    width: 100%;
                    }
                }
            }
        }
    }
}
@media (min-width:312px) and (max-width:550px){
    .sec7{
        height: 800px;
       .dd3{
           grid-template-columns: repeat(1,250px);
           justify-content: center;
           height: 75vh;
           
       }
   }
}
@media (max-width:550px){
    .sec7{
        .d3{
            width: 100%;
            p{
                font-size: 13px;
            }
        }
    }
}

@media(min-width:312px)and (max-width:430px){
    .sec7{
        .d3{
            width: 100%;
            margin-top: 7%;
            p{
                font-size: 10px;
            }
        }
    }
}
